
.banner{
    margin: 120px 250px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: url(./resources/Banner\ Image.png);
}
.banner-title{
color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 400;
}
.banner .banner-big{
color: #FFF;
text-align: center;
font-size: 52px;
font-weight: 900;
}
.offer{
    margin: 120px 400px;
    background: #fff;
}
.offer-title{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 45px;
}
.offer-para{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.offer-cat{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.offer-photo{
    width: 802.9px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.welcome{
    
    background:url(./resources/Vectorrr.png);
    background-repeat: no-repeat;
    margin: 120px 250px;
    display: flex;
}
.welcome .section-heading{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 25px;
    padding-left: 120px;
}
.welcome .section-para{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
    padding-left: 120px;
}
.welcome .section-btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 150px;
}

.address{
    background: pink;
    width: 1320px;
height: 482px;
margin: 120px 250px;
text-align: center;
}
.address .address-up{
    padding-top: 100px;
    margin-bottom: 48px;
}
.address-up span {
    color: red;
}
.address-up{
    color: #070211;
font-size: 22px;
font-weight: 600;
text-transform: capitalize;
}
.address-low .address-btn{
padding: 16px 32px;
border-radius: 8px;
background: #F00;
color: #FFF;
text-align: center;
font-weight: 700;
text-transform: uppercase;
border: 0;
}

.circle{
    background: #fff;
    width: 1320px;
height: 400px;
margin: 120px 250px;
display: flex;
}
.circle-left{
    width: 33%;
}
.circle-left .circle-title{
    margin-top: 70px;
    margin-left: 0;
    margin-bottom: 16px;
    color: #F00;
font-size: 24px;
font-weight: 500;

}
.circle-left .circle-heading{
    color: #070211;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
margin-bottom: 22px;
}
.circle-left .circle-para{
    color: black;
font-size: 20px;
font-weight: 400;
}
.circle-middle{
    width: 33%;
}
.circle-right{
    width: 33%;
}
.circle-right .circle-date{
color: #F00;
font-size: 48px;
font-weight: 700;
margin-bottom: 16px;
}
.circle-right .circle-right-para{
    color: black;
font-size: 20px;
font-weight: 400;
margin-bottom: 45px;
}
.circle-right .circle-right-img{
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border-color: red;
    border-width: 100%;
}

